In [1]:
import pandas as pd
import numpy as np

In [2]:
data  = pd.read_csv("Company_Data.csv")
df  = data.copy()

In [3]:
df

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [7]:
df = pd.get_dummies(df).astype(int)

In [8]:
df

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium,Urban_No,Urban_Yes,US_No,US_Yes
0,9,138,73,11,276,120,42,17,1,0,0,0,1,0,1
1,11,111,48,16,260,83,65,10,0,1,0,0,1,0,1
2,10,113,35,10,269,80,59,12,0,0,1,0,1,0,1
3,7,117,100,4,466,97,55,14,0,0,1,0,1,0,1
4,4,141,64,3,340,128,38,13,1,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,12,138,108,17,203,128,33,14,0,1,0,0,1,0,1
396,6,139,23,3,37,120,55,11,0,0,1,1,0,0,1
397,7,162,26,12,368,159,40,18,0,0,1,0,1,0,1
398,5,100,79,7,284,95,50,12,1,0,0,0,1,0,1
399,9,134,37,0,27,120,49,16,0,1,0,0,1,0,1

In [13]:
y = df.iloc[:,:1]
y

     Sales
0        9
1       11
2       10
3        7
4        4
..     ...
395     12
396      6
397      7
398      5
399      9

[400 rows x 1 columns]

In [14]:
x = df.iloc[:,1:]
x

,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium,Urban_No,Urban_Yes,US_No,US_Yes
0,138,73,11,276,120,42,17,1,0,0,0,1,0,1
1,111,48,16,260,83,65,10,0,1,0,0,1,0,1
2,113,35,10,269,80,59,12,0,0,1,0,1,0,1
3,117,100,4,466,97,55,14,0,0,1,0,1,0,1
4,141,64,3,340,128,38,13,1,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,138,108,17,203,128,33,14,0,1,0,0,1,0,1
396,139,23,3,37,120,55,11,0,0,1,1,0,0,1
397,162,26,12,368,159,40,18,0,0,1,0,1,0,1
398,100,79,7,284,95,50,12,1,0,0,0,1,0,1
399,134,37,0,27,120,49,16,0,1,0,0,1,0,1

In [12]:
from sklearn.model_selection import train_test_split

In [17]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2, random_state=42)

In [19]:
x_train

,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium,Urban_No,Urban_Yes,US_No,US_Yes
3,117,100,4,466,97,55,14,0,0,1,0,1,0,1
18,110,110,0,408,68,46,17,0,1,0,1,0,0,1
202,121,78,4,413,130,46,10,1,0,0,1,0,0,1
250,137,105,10,435,156,72,14,0,1,0,0,1,0,1
274,135,93,2,67,119,34,11,0,0,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,148,51,16,148,150,58,17,0,0,1,1,0,0,1
106,102,33,0,217,139,70,18,0,0,1,1,0,1,0
270,119,26,0,284,89,26,10,0,1,0,0,1,1,0
348,132,102,20,459,107,49,11,0,1,0,0,1,0,1
102,113,22,0,57,97,65,16,0,0,1,1,0,1,0

In [21]:
from sklearn.tree import DecisionTreeRegressor

deciReg = DecisionTreeRegressor(random_state=42)
deciReg.fit(x_train,y_train)

DecisionTreeRegressor(random_state=42)

In [25]:
y_pred = deciReg.predict(x_test)
y_pred

array([ 3.,  4., 10.,  5.,  8.,  5.,  6.,  7., 12.,  8.,  4.,  8.,  9.,
        7.,  7.,  7.,  3., 12., 10.,  7.,  9.,  2.,  7.,  4.,  5.,  7.,
        6.,  9.,  6.,  3., 12.,  6.,  5.,  1.,  8.,  6.,  5., 10., 10.,
        4.,  4.,  6.,  9., 11., 10.,  7., 10.,  8.,  5.,  6., 11.,  8.,
        9.,  9.,  6.,  2.,  4.,  8., 11.,  9.,  8.,  6.,  3.,  4.,  8.,
        7., 12., 12.,  4., 11.,  6.,  6., 10.,  2.,  3.,  3.,  7., 10.,
        8.,  7.])

In [30]:
check_df = pd.DataFrame({"pred":y_pred,"actual":np.array(y_test).reshape(-1)})

In [31]:
check_df

    pred  actual
0    3.0       3
1    4.0       2
2   10.0       8
3    5.0       4
4    8.0       8
..   ...     ...
75   3.0       6
76   7.0       8
77  10.0      10
78   8.0       5
79   7.0       8

[80 rows x 2 columns]